<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Audios</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>List Audios</h3>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>ID</th>
            <th>UUID</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="audio: ${audios}">
            <td th:text="${audio.id}" />
            <td th:text="${audio.uuid}" />
            <td th:text="${audio.timestamp}" />
        </tr>
        </tbody>

    </table>
</div>


</body>

</html>